NCS_TOOLCHAIN_ROOT=/path/to/nordic/ncs/toolchains/toolchain-id
ZEPHYR_BASE=/path/to/nordic/ncs/version/zephyr
ZEPHYR_GDB=/path/to/nordic/ncs/toolchains/toolchain-id/opt/zephyr-sdk/arm-zephyr-eabi/bin/arm-zephyr-eabi-gdb
OPENOCD=/path/to/openocd
OPENOCD_SCRIPTS=/path/to/openocd/scripts
JLINK_GDB_SERVER=/path/to/JLinkGDBServer
