/*
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		sensewear-daughter = &max30208;
		sensewear-temperature = &max30208;
	};
};

&sys_i2c_peripheral {
	max30208: max30208@50 {
		compatible = "sensewear,daughter-i2c-device", "i2c-device";
		status = "okay";
		reg = <0x50>;
		label = "MAX30208";
		/* Powered from the shared daughter-connector rail (VDD_DAUGHTER). */
		vin-supply = <&tpsm83102>;
	};
};
