/*
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		sensewear-daughter = &max30101;
		sensewear-ppg = &max30101;
	};
};

&sys_i2c_peripheral {
	max30101: max30101@57 {
		compatible = "i2c-device";
		status = "okay";
		reg = <0x57>;
		label = "MAX30101";
	};
};
